# Ignore presolvers
src/presolvers/papilo

# Ignore solvers
src/solvers/PIPS-IPMpp

# Ignore licensed utils
src/solvers/utils/PIPS-IPMpp/ma27-1.0.0.tar.gz

# Ignore python caches
tools/matrix_analysis/__pycache__

# Ignore model utils
models/utils/detection-annotation