# Ignore presolvers
src/presolvers/papilo

# Ignore solvers
src/solvers/PIPS-IPMpp

# Ignore detection tools
src/detection/pipstools

# Ignore licensed utils
src/solvers/utils/PIPS-IPMpp/ma27-1.0.0.tar.gz

# Ignore python caches
*__pycache__
*ipynb_checkpoints

# Ignore model utils
src/utils/detection_annotation
src/utils/pipstools_detection
models/sources/simple-methods

# Models
models/

.vscode